<form id="contents" class="" role="" data-bind="value: contents">
    <div id="usernameContainer" class="">
        <label class="">Username: </label>
        <div class=""><input type="text" id="username" placeholder="Username" data-bind="">
        </div>
    </div>
    <div id="passwordContainer" class=""><label class="">Password: </label>
        <div class=""><input type="password" id="pass" placeholder="Password" data-bind=""></div></div>
    <div id="submit" class="">
        <div class="">
            <input type="submit" id="search" value="Log In">
        </div>
    </div>
</form>
<script type="text/javascript">
$ ( document ).ready ( function ( ) {
$ ( "#contents" ).submit ( function ( event ) {
event.preventDefault ( ) ;
var u = $ ( "#username" ).val ( ) ;
var p = $ ( "#pass" ).val ( ) ;
require(['bindings', 'ajax'], function(b, a){
a.ajaxRequest ( "/sessions", "POST", "application/json", { user : u, password : p }, b.setAuthMessage ) } ) ;
})
});
</script>

