@(title: String)

<!DOCTYPE html>

<html>
    <head>
        <title>@title</title>
        <link rel="stylesheet" media="screen" href="@routes.Assets.at("stylesheets/main.css")">
        <link rel="shortcut icon" type="image/png" href="@routes.Assets.at("images/favicon.png")">
        <script src="http://code.jquery.com/jquery-2.1.0.min.js" type="text/javascript"></script>
        <script src="http://knockoutjs.com/downloads/knockout-3.1.0.js" type="text/javascript"></script>
        @helper.requireJs(core = "http://requirejs.org/docs/release/2.1.14/minified/require.js", module = "../../public/javascripts/main.js")
    </head>
    <body data-bind="html: body">
        <script type="text/javascript">
        require( {
        baseUrl : 'javascripts',
        paths : {
        jquery : 'http://code.jquery.com/jquery-2.1.0.min.js',
        ko : 'http://knockoutjs.com/downloads/knockout-3.1.0.js'
        },
        priority :[ 'jquery' ][ 'ko' ]
        }, ['main']);
         </script>
    </body>
</html>
